.videos {
    .introduce {
        height: 700px;
        position: relative;
        justify-content: start;
        margin-bottom: 5%;
        .describe {
            width: 70%;
            height: 700px;
            background-color: #282828;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            flex-direction: column;
            p{
                color: #fff;
                padding: 0 50% 0 5%;
            }
            .btn{
                background: #fff;
                color: #282828;
                margin: 10% 75% 0 5%;
            }
        }
        .video-element {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 60%;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }
        .play-pause-btn {
            position: absolute;
            width: 80px;
            height: 80px;
            top: 50%;
            right: 28%;
            transform: translateY(-50%);
            background-color: rgba(255, 255, 255, 0.5);
            color: #fff;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            font-size: 1.2rem;
            z-index: 10;
            &.show {
                display: block;
            }
            img{
                width: 50%;
                height: 50%;
                padding: 20px;
            }
        }
    }
    .video-list {
        width: 100%;
        height: auto;
        padding: 40px 0;
        background: #282828;
        margin-bottom: 5%;
        display: flex;
        gap: 10px;
        position: relative;
        .white-block-container {
            display: flex;
            gap: 20px;
            position: absolute;
            top: 10px;
            left: 0;
            width: 100%;
            justify-content: flex-start;
            .white-block {
                width: 30px;
                height: 20px;
                background: #fff;
                flex-shrink: 0; 
            }
        }
        .white-bottom-block-container {
            display: flex;
            gap: 20px;
            position: absolute;
            bottom: 10px;
            left: 0;
            width: 100%;
            justify-content: flex-start;
            .white-block {
                width: 30px;
                height: 20px;
                background: #fff;
                flex-shrink: 0; 
            }
        }
        .mySwiper {
          display: flex;
          overflow: hidden;
          gap: 10px;
        }
        .swiper-slide{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .vdo {
          flex: 0 0 auto;
            .img {
                width: 100%;
                background-color: #fff;
            img {
                width: 100%;
            }

          }
          .content {
            width: 100%;
            background-color: #fff;
            p{
                margin: 0;
                padding: 10px;
            }
          }
        }
    }
}